.container-fluid{
    background-image: linear-gradient(90deg, #FF85A1, #FF7096);
    border-radius: 2px;

  }
    .navbar{
      background-image: linear-gradient(90deg, #FF85A1, #FF7096);
      border-radius: 2px;

    }    
.form-control {
    background-image: linear-gradient(90deg, #FF0A54, #FF477E);
    border-radius: 2px;

  }
.btnv{
  background-image: linear-gradient(90deg, #FF0A54, #FF477E);
  border-radius: 4px;
  border: 0px;

}
.btnv:hover{
  background-image: linear-gradient(90deg, #FF477E, #FF0A54);
  border-radius: 4px;
  border: 0px;
}
.form-control:hover {
  background-image: linear-gradient(90deg, #FF477E, #FF0A54); 
  border-radius: 4px;
}
.content{
  border-radius: 4px;

    background-image: url("images/tas240509.jpg");
}
.featurette{
  background-color: #c50d44
}

.fcc{
  background-color: #c50d44
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.card {
       border-radius: 40px; 
       overflow: hidden;
       border: 0;
       box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06),
                   0 2px 4px rgba(0, 0, 0, 0.07);
       transition: all 0.15s ease;
}

.card:hover {
             box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1),
                         0 10px 8px rgba(0, 0, 0, 0.015);
}

.card-body .card-title {
                  font-family: 'Lato', sans-serif;
                  font-weight: 700;
                  letter-spacing: 0.3px;
                  font-size: 24px;
                  color: #121212;
}

.card-text {
             font-family: 'Lato', sans-serif;
             font-weight: 400;
             font-size: 15px;
             letter-spacing: 0.3px;
             color: #4E4E4E;
  
}

.card .container {
           width: 88%;
          background: #F0EEF8;
           border-radius: 30px;
           height: 140px;
         display: flex;
        align-items: center;
         justify-content: center;
}

.container:hover > img {
                       transform: scale(1.2);
}

.container img {
                padding: 75px;  
               margin-top: -40px;
               margin-bottom: -40px;
              transition: 0.4s ease;
              cursor: pointer;
}

.btn {
      background: #EEECF7;
      border: 0;
      color: #f03535;
      width: 98%;
      font-weight: bold;
      border-radius: 20px;
      height: 40px;
      transition: all 0.2s ease;
}

.btn:hover {
            background: #c42b6b;
}

.btn:focus {
            background: #f12f2f;
            outline: 0;  
}
 

.footer-main{
  padding-top: 90px; 
  background-color: #c42b6b !important;
}

.address-main > div.col-lg-4 {
  border-bottom: dotted 1px #999;
}
.address-box {
  padding: 10px 0;
  margin-bottom: 30px;
}
.add-icon{
  
  width: 60px;
  display: inline-block;
  padding: 0px 5px;
}
.address-box .add-icon {
  background: #27303b;
  height: 75px;
  line-height: 75px;
  width: 75px;
  margin-right: 20px;
  text-align: center;
}
.add-icon img{
  width: 100%;
}
.address-box .add-icon img {
  max-width: 40px;
}
.add-content{
  padding-left: 70px;
}
.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}
.add-content p {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}
.add-content p a{
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  word-wrap: break-word;
}
.add-content p a:hover{
  color: #ffb32d;
}
.footer-main{
  padding-top: 90px;
}

.address-main > div.col-lg-4 {
  border-bottom: dotted 1px #999;
}
.address-box {
  padding: 10px 0;
  margin-bottom: 30px;
}
.add-icon{
  float: left;
  width: 60px;
  display: inline-block;
  padding: 0px 5px;
}
.address-box .add-icon {
  background: #27303b;
  height: 75px;
  line-height: 75px;
  width: 75px;
  margin-right: 20px;
  text-align: center;
}
.add-icon img{
  width: 100%;
}
.address-box .add-icon img {
  max-width: 40px;
}
.add-content{
  padding-left: 70px;
}
.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}
.add-content p {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}
.add-content p a{
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  word-wrap: break-word;
}
.add-content p a:hover{
  color: #ffb32d;
}
.fcc{
  background-color: #c42b6b;
}