.container-fluid{
    background-image: linear-gradient(90deg, #2bdad1, #31d3aa);}
    .navbar{
        background-image: linear-gradient(90deg, #2bdad1, #31d3aa); 
    }
.form-control {
    background-image: linear-gradient(90deg, #2bb7da, #31d35c);}
.btn{
    background-image: linear-gradient(90deg, #2bb7da, #31d35c);
}
.btn:hover{
    background-image: linear-gradient(90deg, #31d35c, #2bb7da);
}
.form-control:hover {
    background-image: linear-gradient(90deg, #31d35c, #2bb7da);
}
.content{
    background-image: url("images/tas240509.jpg");
}




@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.card {
       border-radius: 40px; 
       overflow: hidden;
       border: 0;
       box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06),
                   0 2px 4px rgba(0, 0, 0, 0.07);
       transition: all 0.15s ease;
}

.card:hover {
             box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1),
                         0 10px 8px rgba(0, 0, 0, 0.015);
}

.card-body .card-title {
                  font-family: 'Lato', sans-serif;
                  font-weight: 700;
                  letter-spacing: 0.3px;
                  font-size: 24px;
                  color: #121212;
}

.card-text {
             font-family: 'Lato', sans-serif;
             font-weight: 400;
             font-size: 15px;
             letter-spacing: 0.3px;
             color: #4E4E4E;
  
}

.card .container {
           width: 88%;
          background: #F0EEF8;
           border-radius: 30px;
           height: 140px;
         display: flex;
        align-items: center;
         justify-content: center;
}

.container:hover > img {
                       transform: scale(1.2);
}

.container img {
                padding: 75px;  
               margin-top: -40px;
               margin-bottom: -40px;
              transition: 0.4s ease;
              cursor: pointer;
}

.btn {
      background: #EEECF7;
      border: 0;
      color: #f03535;
      width: 98%;
      font-weight: bold;
      border-radius: 20px;
      height: 40px;
      transition: all 0.2s ease;
}

.btn:hover {
            background: #c42b6b;
}

.btn:focus {
            background: #f12f2f;
            outline: 0;  
}
 .featurette {
    background-color: #f03535;
 }

 $link-light-grey: #6c757d;
$primary-orange: #fec503; //before: fed136
$footer-background-light-grey: #212529;
$footer-background-grey: #1a1d20;
$social-buttons-circle-dark-grey: #1a1d20;

.col-md-4:nth-child(even) {
  // background: blue;
}
.col-md-4:nth-child(odd) {
  // background: red;
}

a {
  color: $link-light-grey;
}
a:hover {
  color: $primary-orange;
  text-decoration: none;
}

::selection {
  background: $primary-orange;
  text-shadow: none;
}

footer {
  padding: 2rem 0;
  background-color: #212529;}
 .container .row:not(:last-child) {
   padding-bottom: 2rem;
  }
}

.footer-column:not(:first-child) {
    padding-top: 2rem;
    @media (min-width: 768px) {
      padding-top: 0rem;
    }
  }

.footer-column {
  text-align: center;
  //border: red solid 1px;
  .nav-item {
    .nav-link {
      padding: 0.1rem 0;
    }
    span.nav-link {
      color: $link-light-grey;
    }
    span.footer-title {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }
    .fas {
      margin-right: 0.5rem;
    }

  ul {
    display: inline-block;
    @media (min-width: 768px) {
      text-align: left;
    }}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: $primary-orange;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: $footer-background-grey;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}
